.gomeQz{
	width:100%;
	font-family: '微软雅黑';
	background:#ececec;
}
.Qz-imgTab{
	width:100%;
	height:3.2rem;
	background:url(../images/111.png);
	background-size:100%;
	position:relative;
	left:0;top:0;
}
.Qz-shareBtn{
	width:2.4rem;
	height:0.77rem;
	position:absolute;
	left:0.55rem;top:2.0rem;
	background:red;
}
.Qz-shareText{
	font-size:0.4rem;
	color:#666666;
}
.Qz-time{
	width:100%;
	height:0.70rem;
	color:#666666;
}
.Qz-time .time-over{
	font-size:0.3rem;
	text-align:center;
	line-height: 0.70rem;
}
.Qz-foryou .foryou-quanzi{
	width:3.75rem;
	height:4.49rem;
	background:#fff;
	float:left;
	border-bottom:1px solid #e4e4e4;
}
.Qz-foryou .foryou-quanzir{
	width:3.74rem;
	height:4.49rem;
	background:#fff;
	float:left;
	border-left:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
}
.foryou-quanzi-time{
	font-size:0.24rem;
	height:0.90rem;
	color:#999;
	text-align: center;
	line-height: 0.90rem;
}
.foryou-quanzi-img{
	width:100%;
	height:2.46rem;
	text-align:center;
}
.foryou-quanzi-img img{
	width:3.45rem;
	height:2.46rem;
}
.for-you-quanziBtn{
	height:1.10rem;
}
.for-you-quanziBtn .btn1{
	width:2.30rem;
	height:0.55rem;
	text-align:center;
	line-height: 0.55rem;
	border:1px solid #ee4b4b;
	border-radius: 35px;
	font-size:0.24rem;
	background:#fff;
	color:#ee4b4b;
	margin:0.25rem auto;
	display:none;
}
.for-you-quanziBtn .btn2{
	width:2.30rem;
	height:0.55rem;
	text-align:center;
	line-height: 0.55rem;
	border:1px solid #ee4b4b;
	border-radius: 35px;
	font-size:0.24rem;
	background:#fff;
	color:#ee4b4b;
	margin:0.25rem auto;
	display:none;
}
.for-you-quanziBtn .btn3{
	width:2.30rem;
	height:0.55rem;
	text-align:center;
	line-height: 0.55rem;
	border-radius: 35px;
	font-size:0.24rem;
	background:#090;
	color:#fff;
	margin:0.25rem auto;
	display:none;
}
.for-you-quanziBtn .btn4{
	width:2.30rem;
	height:0.55rem;
	text-align:center;
	line-height: 0.55rem;
	border-radius: 35px;
	font-size:0.24rem;
	background:#ee2f2f;
	color:#fff;
	margin:0.25rem auto;
	display:none;
}
.for-you-quanziBtn .btn5{
	width:2.30rem;
	height:0.55rem;
	text-align:center;
	line-height: 0.55rem;
	border-radius: 35px;
	font-size:0.24rem;
	background:#cdcdcd;
	color:#fff;
	margin:0.25rem auto;
	display:none;
}
.Qz-user{
	width:100%;
	height:3rem;
	background:#ffffff;
	margin-top:0.20rem;
}
.Qz-user header{
	height:0.88rem;
	width:100%;
	font-size:0.30rem;
	color:#333;
	line-height:0.88rem;
	text-align: center;
}
.Qz-user .circle-scroll{
	width:7.10rem;
	height:2.1rem;
	margin:0 auto;
	border-top:1px solid #e4e4e4;
}
.Qz-user .userList{
	width:7.10rem;
}
.Qz-user .userList li{
	font-size:0.30rem;
	color:#999;
	text-align:center;
	list-style:inside;
	line-height: 0.55rem;
}
.Qz-user .userList span{
	color:#f26363;
}
.Qz-rule{
	width:100%;
	height:4.80rem;
	background:#fff;
	margin-top:0.2rem;
}
.Qz-rule header{
	height:0.90rem;
	text-align:center;
	line-height: 0.90rem;
	color:#333;
	font-size:0.30rem;
}
.Qz-rule article{
	color:#999;
	font-size:0.30rem;
	width:7.1rem;
	margin:0 auto;
    border-top:1px solid #e4e4e4;
}
.Qz-rule article p{
	line-height: 0.50rem;
}
.window-share{ 
	position: fixed; 
	left: 0; bottom: -4rem; 
	width: 100%; z-index: 20; 
	background: #fff; 
	padding-top: .4rem;
}
.window-share li{ 
	width: 1rem; 
	float: left;
	font-size: .24rem; 
	margin-left:1.7rem; 
	text-align: center;
}
.window-share li a{ 
	display: block; 
	color: #333;
}
.window-share li p{ 
	padding: .3rem 0 .4rem;
}
.window-share .change-btn{ 
	display: block; height: 1rem; 
	line-height: 1rem; font-size: .33rem; 
	border-top: 1px solid #d5d5d5; text-align: center; color: #333;
}
.window-share img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.window-bg{ 
	position: fixed; 
	left: 0; top: 0; 
	width: 100%; height: 100%; 
	z-index: 10; 
	background: rgba(51,51,51,0.75); 
	display: none;
}
.download{
	width:100%;
	height:1.40rem;
	position:relative;
	top:0;left:0;
	display:none;
}
.download .download-now{
	width:7.10rem;
	height:1.18rem;
	position:absolute;
	left:0.20rem;
	background:url(../images/hg-downp.png);
	background-size:100%;
	border-radius:4px;
	text-indent:-999rem;
}