/*
GomeplusUI Created By Mapk OPG
*/

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body,div,p,ul,ol,li,dl,dt,dd,form,input,table,img,h1,h2,h3,h4,h5,h6,header,section,footer,nav,figure,figcaption,article{
  margin:0;
  padding:0
}
*{
  box-sizing:border-box;
}

/*
GomeplusUI Created By Mapk OPG 
*/
.opg .art-f12{
	font-size: 12px;
}
.opg .art-f13{
	font-size: 13px;
}
.opg .art-f14{
	font-size: 14px;
}
.opg .art-f16{
	font-size: 16px;
}
.opg .art-f18{
	font-size: 18px;
}
.opg .art-f20{
	font-size: 20px;
}
.opg .art-f24{
	font-size: 24px;
}

.opg .art-bgf{
	background: #fff;
}

/*边框*/
.opg .art-bort{
	box-shadow: inset 0px 2px 0px -1px #cdcdcd;
}
.opg .art-borb{
	box-shadow: inset 0 -1px 1px -1px #666;
}
.opg .art-borbt{
	box-shadow: inset 0px 2px 0px -1px #cdcdcd,inset 0 -1px 1px -1px #666;
}

/*
GomeplusUI Created By Mapk OPG 
*/

/* 定位 */
.opg .grid-rel{
	position:relative;
}
.opg .grid-abs{
	position:absolute;
}
.opg .grid-abs.bottom{
	bottom: 0;
}
/* 浮动 */
.opg .grid-fl{
	float: left!important;
}
.opg .grid-fr{
	float: right!important;
}

/* 分栏宽度 */
.opg .grid-col10{
	width: 10%;
}
.opg .grid-col20{
	width: 20%;
}
.opg .grid-col25{
	width: 25%;
}
.opg .grid-col30{
	width: 30%;
}
.opg .grid-col33{
	width: 33.33333%;
}
.opg .grid-col35{
	width: 35%;
}
.opg .grid-col40{
	width: 40%;
}
.opg .grid-col50{
	width: 50%;
}
.opg .grid-col60{
	width: 60%;
}
.opg .grid-col65{
	width: 65%;
}
.opg .grid-col70{
	width: 70%;
}
.opg .grid-col75{
	width: 75%;
}
.opg .grid-col80{
	width: 80%;
}
.opg .grid-col90{
	width: 90%;
}
.opg .grid-col10,.opg .grid-col20,.opg .grid-col25,.opg .grid-col30,.opg .grid-col33,.opg .grid-col35,.opg .grid-col40,.opg .grid-col50,.opg .grid-col60,.opg .grid-col65,.opg .grid-col70,.opg .grid-col75,.opg .grid-col80,.opg .grid-col90{
	float: left;
}

/* margin */
.opg .grid-mart10{
	margin-top: 10px;
}
/* tab切换 */
.opg .grid-menu ul{
	display: -webkit-box;
}
.opg .grid-menu li{
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	padding: 12px 0;
	margin: 0 20px;
}
.opg .grid-menu li.high{
	color: #ee2f2f;
}
.opg .grid-menu li.cur{
	color: #ee2f2f;
	border-bottom: 1px solid #ee2f2f;
}

/* 垂直居中 */
.opg .grid-mid{
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	text-align: center;
}

/*
GomeplusUI Created By Mapk OPG
*/

/*lidan*/
body{
	background:#f2f2f2;
	font-size: 62.5%;
	font-family: "Microsoft YaHei", Arial, "Helvetica";
}
.clearfix:after{
  content:'';
  display:block;
  width:0;
  height:0;
  overflow:hidden;
  clear:both;
}
.fl{
	float:left;
}
.fr{
	float:right;
}


h1,h2,h3,h4,h5,h6,strong{
  font-weight: normal;
}
em,i{
  font-style: normal;
}
img{
	vertical-align: top;
}
ul,li{
	list-style: none;
}
a{
	font-family: "Microsoft YaHei", Arial, "Helvetica";
	text-decoration: none;
	color: #333;
}
input{
	border:none;
	outline: none;
}
.common-bgf{
	background: #fff;
}

/* dropload */
opacity{
	-webkit-animation: opacity 0.5s linear;
    animation: opacity 0.5s linear;
}
@-webkit-keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    font-size: 0.26rem;
}
.dropload-refresh,.dropload-update,.dropload-load{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);
}
.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s 0 linear infinite;
    animation: rotate 0.75s 0 linear infinite;
}

/* 标题 */
.common-menu{
	width: 100%;
	background: #fff;
	height:0.84rem;
	line-height:0.84rem;
	margin-bottom:1px;
}
.common-menu a{
	float: left;	
	text-align: center;
	margin:0 8.5%;
	font-size:0.26rem;
	position:relative;
}
.mshop-add .common-menu a{
	width:15%;
	margin:0 5%;
}
.common-menu .cur{
	color: #ee2f2f;
	border-bottom:1px solid red;
}
.common-menu em{
	width: 0.14rem;
	height: 0.19rem;
	background: url(../../images/price-sort.png);
	background-size: 100%;
	position: absolute;
	top: 0.32rem;
}
.common-menu .sort-no{
	background: url(../../images/price-sort.png);
	background-size: 100%;
}
.common-menu .sort-up{
	background:url(../../images/price-sort-top.png);
	background-size:100%;
}
.common-menu .sort-down{
	background:url(../../images/price-sort-bottom.png);
	background-size:100%;
}

.common-col2 a{
	width: 50%;
}
.common-col3 a{
	width: 16%;
}


/* 商品信息*/
.common-prolist{
	box-shadow: inset 0 -1px 1px -1px #666;
	font-size: 0.24rem;
}
.common-prolist li{
	background: #fff;
	position: relative;
	box-shadow: inset 0 -1px 1px -1px #666;
}
.common-prolist li:after{
	content:'';
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	clear:both;
}
.common-prolist dl{
	display: table;
	width: 100%;
	float: left;
	padding: 0.1rem 0;
}
.common-prolist dl dt{
	display: table-cell;
	width: 32%;
	text-align: center;
	vertical-align: middle;
}
.common-prolist .common-pro-pic{
	display:inline-block;
	width:2rem;
	height:2rem;
	position:relative;
	overflow: hidden;
	background: url(../../images/default_product.png) no-repeat;
	background-size: 100%;
}
.common-prolist .common-pro-pic img{
	width:100%;
	height: 100%;
	text-align: center;
}
.common-prolist .common-pro-pic strong{
	position:absolute;
	height:0.4rem;
	background:rgba(0,0,0,0.5);
	color:#fff;
	font-size:0.24rem;
	text-align:center;
	line-height:0.4rem;
	width:100%;
	left:0;
	bottom:0;
}
.common-prolist dl dd{
	display: table-cell;
	width: 68%;
	padding-right: 10px;
}
.common-prolist dl dd h3{
	font-size: 0.25rem;
	overflow: hidden;
	color: #333;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.common-prolist dl dd p{
	color: #999;
	font-size: 0.26rem;
	margin-bottom: 0.1rem;
}
.common-prolist dl dd p.common-pro-num:after{
	content:'';
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	clear:both;
}
.common-prolist dl dd p.common-pro-num span{
	float: left;
	width: 50%;
}
.common-prolist dl dd em{
	display: block;
}
.common-prolist .common-pro-price{
	font-size:0.35rem;
	color: #ee2f2f;
	margin:0;
	padding:0.03rem 0;
}
.common-prolist .common-pro-price span{
	font-size: 0.28rem;
}
.common-prolist .common-pro-com{
	font-size: 0.28rem;
	padding-bottom: 0.08rem;
	color: #ee2f2f;
}
.common-prolist .common-pro-pad{
	padding: 0.2rem 0;
}
.common-prolist .common-pro-com span,.common-prolist .common-pro-com em{
	display: inline-block;
	vertical-align: middle;
}
.common-prolist .common-pro-com span:first-child{
	background: #fa5a5a;
	color: #fff;
	font-size: 12px;
	padding: 3px 8px;
	line-height: 0.2rem;
	margin-right: 0.05rem;
	border-radius: 3px;
}
.common-prolist .common-prosel{
	display: none;
}

.common-prolist .set .common-prosel{
	width: 10%;
	float: left;
	position: absolute;
	height: 100%;
	display: block;
}
.common-prolist .set .common-prosel a {
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate3d(-50%,-50%,0);
	-webkit-transform:translate3d(-50%,-50%,0);
	width:0.6rem;
	height:0.6rem;
	background:url(../../images/unchecked.png) no-repeat center;
	background-size: 60%;
}
.common-prolist .set .common-prosel a.checked{
	background:url(../../images/checked.png) no-repeat center;
	background-size: 60%;
}
.common-prolist .set dl{
	width:90%;
	float: right;
}
.common-prolist .set dl dt{
	text-align: left;
	width: 33%;
}
.common-prolist .set dl dd{
	width: 66%;
}
.common-prolist .common-pro-btn {
	clear: both;
	color: #666;
}
.common-prolist .common-pro-btn li{
	float: left;
	width: 25%;
	text-align:center;
	padding: 0 0 5px;
	margin: 0 0 1px;
	box-shadow: none;	
}
.common-prolist .common-pro-btn li em{
	display: inline-block;
	width:0.02rem;
	height:0.2rem;
	background:#e4e4e4;
	margin-left: 0.33rem;
}

.common-prolist .common-pro-btn li span{
	padding-left: 0.4rem;
	display: inline-block;
	height: 0.45rem;
	line-height: 0.45rem;
}
.common-prolist .common-pro-btn li span.sort{
	background: url(../../images/sort.png) no-repeat left center;
	background-size: 0.3rem 0.3rem;	
}
.common-prolist .common-pro-btn li span.del{
	background: url(../../images/del.png) no-repeat left center;
	background-size: 0.3rem 0.3rem;	
}
.common-prolist .common-pro-btn li span.copy{
	background: url(../../images/homeurl.png) no-repeat left center;
	background-size:  0.3rem 0.3rem;	
}
.common-prolist .common-pro-btn li span.share{
	background: url(../../images/homeshare.png) no-repeat left center;
	background-size:  0.3rem 0.3rem;	
}
.common-prolist .sale-btn{
	position: absolute;
	right:0.2rem;
	bottom: 0.20rem;
	width:2.68rem;
	height: 0.56rem;
	background: #ee2f2f;
	color: #fff;
	text-align: center;
	line-height: 0.56rem;
	border-radius: 3px;
}
.common-prolist .sale-btn-no{
	position: absolute;
	right:0.2rem;
	bottom: 0.20rem;
	width:2.68rem;
	height: 0.56rem;
	background: #999;
	color: #fff;
	text-align: center;
	line-height: 0.56rem;
	border-radius: 3px;
}
.common-prolist .del-btn{
	position: absolute;
	right:0.2rem;
	bottom: 0.18rem;
	padding-left: 0.42rem;
	font-size: 0.26rem;
	color: #999;
	background: url(../../images/manage_del.png) no-repeat center left;
	background-size: 0.25rem 0.25rem;
}
.manage-btn{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.manage-btn a{
	width: 49.8%;
	float: left;
	text-align: center;
	height:0.96rem;
	line-height: 0.96rem;
	font-size:0.3rem;
	color:#666;
	border-top:1px solid #e4e4e4;
	background: #f9f9f9;	
}

.manage-btn span{
	display: inline-block;
	width:1px;
	height:0.96rem;
	float:left;
	background:url(../../images/managebtn-split.jpg) no-repeat left center #f9f9f9;
	background-size:50%;
}

.common-nodata{
	text-align: center;
}
.common-nodata img{
	margin: 0 auto;
	width: 3.12rem;
	height: 3.12rem;
	display: block;
	margin-top: 2rem;
	margin-bottom: 20px;
}
.common-nodata .nodata-title{
	color:#333;
	font-size:0.32rem;
}
.common-nodata .nodata-exp{
	color:#999;
	font-size:0.28rem;
	padding: 0.15rem 0 0.2rem;
}
.common-nodata .nodata-btn{
	display: inline-block;
	width:3.04rem;
	height:0.76rem;
	background:#fa5a5a;
	text-align:center;
	line-height:0.76rem;
	font-size:0.32rem;
	color:#F9F9F9;
	border-radius:0.1rem;
}